<template>
  <div id="form">
    <form @submit.prevent="submitted">
<!-- image -->
		<div class="form-group">
			<label for="post-image">Post image</label>
			<input type="text" class="form-control" id="post-image" placeholder="Enter image link" v-model="postImage">
		</div>
<!-- title -->
		<div class="form-group">
			<label for="post-title">Post title</label>
			<input type="text" class="form-control" id="post-title" placeholder="Enter post title" v-model="postTitle">
		</div>

<!-- content -->

		<div class="form-group">
			<label for="content">Content</label>
			<textarea class="form-control" id="content" rows="10" ref="content" placeholder="Enter post content" v-model="postContent"></textarea>
		</div>

<!-- columns count -->

		<fieldset class="form-group">
			<legend>Columns</legend>
			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="column-count" id="one" value="1" checked v-model="postColumnCount">
					One column
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="column-count" id="two" value="2" v-model="postColumnCount">
					Two columns
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="column-count" id="three" value="3" v-model="postColumnCount">
					Three columns
				</label>
			</div>
		</fieldset>

<!-- submit btn -->
		<button type="submit" class="btn btn-outline-primary">Submit</button>
	</form>
  </div>
</template>

<script>
	import { eventBus } from '../main';

	export default {
		props: ['title', 'content', 'image', 'columnCount'],
		data() {
			return {
				postTitle: this.title,
				postContent: this.content,
				postImage: this.image,
				postColumnCount: this.columnCount
			}
		},
		methods: {
			submitted() {
				const postData = {
					postTitle: this.postTitle,
					postContent: this.postContent,
					postImage: this.postImage,
					postColumnCount: this.postColumnCount
				};
				eventBus.$emit('sendData', postData);
			}
		}
	}
</script>

<style lang="scss" scoped>

</style>