<template>
	<div id="preview">
		<h2>Preview</h2>
		<div class="preview-content">
			<div class="image-container" :style="{'background-image': 'url(' + postImage + ')'}">
			</div>
			<h2 class="post-title">{{ postTitle }}</h2>
			<p class="content" :style="{ 'column-count': postColumnCount }">{{ postContent }}</p>
		</div>
	</div>
</template>

<script>
	import { eventBus } from '../main';

	export default {
		props: ['title', 'content', 'image', 'columnCount'],
		data() {
			return {
				postTitle: this.title,
				postContent: this.content,
				postImage: this.image,
				postColumnCount: this.postColumnCount
			}
		},
		created() {
			eventBus.$on('sendData', (data) => {
				this.postTitle = data.postTitle;
				this.postContent = data.postContent;
				this.postImage = data.postImage;
				this.postColumnCount = data.postColumnCount
			});
		}
	}
</script>

<style lang="scss" scoped>
	.preview-content {
		font-size: 10px;
		box-shadow: 0 0 10px #999;
		padding: 20px;
		width: 100%;
	}
	.post-title {
		font-size: 1.5rem;
		text-transform: capitalize;
		margin-top: 10px;
		text-align: center;
		font-weight: 200;
	}
	.image-container {
		width: 100%;
		height: 200px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
</style>
