<template>
	<div id="app">
		<div class="container">
			<div class="row">
				<section class="col-sm-7">
					<app-form v-bind="post"></app-form>
				</section>
				<section class="col-sm-5">
					<app-preview v-bind="post"></app-preview>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
	import Form from './components/Form.vue';
	import Preview from './components/Preview.vue';

	export default {
		data() {
			return {
				post: {
					title: 'Default title',
					content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi ullam corrupti doloremque vero expedita dolorem quaerat, iure quo maxime numquam molestiae eum nisi aperiam fuga dolor corporis commodi optio harum ab quod nesciunt voluptate iusto. Laboriosam quae laborum, quisquam ex assumenda placeat voluptates, rem commodi, doloribus dolorum unde voluptate. Recusandae esse dolore eveniet veniam excepturi quia dolor. Quo dignissimos nam cum esse ullam expedita repellat autem, fugit mollitia optio praesentium numquam tenetur deserunt ab animi fuga atque aliquam voluptatem magni doloribus sunt ea? Tempore molestiae voluptatem harum omnis vitae aliquid! Alias necessitatibus impedit, recusandae neque quis iure voluptate ipsam placeat temporibus unde dignissimos suscipit quaerat voluptas reprehenderit ratione autem delectus! Mollitia consectetur maiores tenetur, porro aliquam architecto iste alias blanditiis fugiat in voluptatem, qui corrupti? Quas facilis natus architecto debitis! Nemo, reprehenderit. Blanditiis doloremque fuga, eum nobis id magni voluptate! Quae ut ratione ad amet, natus, accusantium corporis doloribus magnam corrupti voluptatum aut neque quod incidunt, rem quo autem placeat officiis enim doloremque. Ex autem debitis veritatis distinctio sed dolore eveniet perferendis hic magnam nulla ipsum inventore suscipit blanditiis, magni voluptatum aliquid modi explicabo quasi aperiam ad. Molestias eaque fuga ad architecto? Debitis quia est odio perspiciatis doloribus facilis, repellat fuga rerum voluptatum quos ipsum ipsa cum officiis atque. Ut, numquam? Qui, eveniet cumque. Animi harum in reiciendis consequuntur hic accusamus laborum saepe necessitatibus! Magnam saepe quisquam quasi sapiente omnis vero similique dicta! Nesciunt soluta laborum dignissimos amet, commodi dolores vero maiores aspernatur beatae quod magnam officiis provident ea sint? Numquam corporis iure hic quas illo. In delectus explicabo, quas velit ad nobis quaerat eaque quos temporibus, veniam eum! Impedit delectus culpa minus eos vero officiis amet facere excepturi cum ullam obcaecati error commodi optio illo sit, ut maxime. Molestiae exercitationem quia iusto dolores consequatur deleniti quam, voluptatem autem alias!',
					image: 'http://via.placeholder.com/350x150',
					columnCount: 1
				}
			}
		},
		components: {
			'app-form': Form,
			'app-preview': Preview
		}
	}
</script>

<style lang="scss" scoped>
	#app {
		margin-top: 50px;
		font-family: 'Source Sans Pro'
	}
</style>
